@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed);
/*@import url(http://fonts.googleapis.com/css?family=Raleway:600);*/
 @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed); 
/*@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);*/

body{ 
  margin-top: 70px;
  /*font-family: 'Raleway', sans-serif;*/
	font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  
}

h1, h2, h3, h4, h5, h5{
  font-family: 'Roboto Condensed', sans-serif;
}

input[type='checkbox']{
  margin: 0;
}

label{
    margin-top: .5em;
    margin-bottom: .1em;
  }

label + label{
  margin-top: 0;
}

label.nobold{
  font-weight: initial;
}

footer{
  
  padding: 2em 2em 1em;
  border-radius: 5px;
  margin-top: 2em;
  text-align: center;
}

table{
  width:100%;
}

.avatar{
	border: 4px solid white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #808080;
}

.anotaciones, .club{
  margin: .6em 0;
  font-size: 2em;
}

.button{
  margin:0;
}

.buttons-action{
  margin-top:2em;
}

.ciudad, .departamento{
  display: inline;
  width: auto;
}

.cnsl-avatar{
  text-align: center;
}

.col-landing{
  
}

.confirm-delete form{
  display: inline;
}

.datos-personales{
  
}

  .datos-personales tr{
    line-height: 2em;
  }

  .datos-personales a{
    float: right;
  }



.dropdown-menu{
  font-size: 1em;
}

.header{
	margin-bottom: 3em;
}

.inline{
  display: inline;
}

.paginate{
  text-align: center;
}

.panel .list-group{
  padding: 0;
}

.login{
}

.logo{
}

.nota p{
  margin: 0;
}

.paginate{
	text-align:center;
}

.textarea-mini{
  height: 8em !important;
}

.text-center{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.title{
	display:inline-block;
	margin-left:.5em;
	vertical-align:middle;
}

/************************************************/

.typeahead,
.tt-query,
.tt-hint {
  	border: 2px solid #ccc;
  	font-size: 16px;
	height: 2.5em;
  	line-height: 24px;
  	padding: 8px 12px;
  	outline: none;
  	-webkit-border-radius: 8px;
       -moz-border-radius: 8px;
		    border-radius: 8px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
	width: 100%;
  margin-top: .2em;
  padding: .2em 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead{
	width: 100%;
}


/***************************************************/

ul.chosen-choices{
  height: 2em !important;
}

.chosen-container{
  font-size: 16px;
}

.chosen-container-multi 
.chosen-choices 
li.search-field input[type="text"],
.chosen-container-single 
.chosen-single{
  height: 1.9em
}

.chosen-single,
.chosen-container{
  width: auto !important;

}