
body{
	font-family: sans-serif;
	font-size: 14px;
	width: 960px;
	margin: 0 auto;
}

.info p{
	font-size: .8em;
	text-align: justify;
}

p{
	font-size: .9em;
}

table{
	width: 50%;
	margin: 0 auto;
}

.barcode{
	margin: 1em 0;
}

.info{
	background-color: lightgrey;
	border-radius: 5px;
	padding: 1px 10px;
}

.datos{
	font-weight: bold;
}

.datos, .barcode{
	width: 45%;
	display: inline-block;
	vertical-align: middle;
}

h3, .datos, .imprimir, .barcode{
	text-align: center;
}

@media print {

	body{
		width: 100%;
		margin: auto;
	}

	.imprimir{
		display: none;
	}

}